body{
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;
}
.Signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.Login-box{
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 3px;
    margin: auto;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;


}
.btn-field{
    width: 100%;
    display: flex;
}
.btn-field button{
    height: 35px;
    background-color: aquamarine;
    margin-top: 20px;
    border: none;
    color: white;
    flex-basis: 48%;
    font-size: 18px;
    place-items: center;
}
p{
   text-align: center;
   padding-top: 28px;
   font-size: 15px; 
}
.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -18px;
}

.para-2 a{
    color: aqua;
}